<div id="toc" class="toc-onthispage toc-wrapper d-none d-lg-block">
    <h4>Table of Contents</h4>
    <nav class="custom-menu" aria-label="Table of Contents">
      {{ $context := . }}
      {{ with $context }}
        {{ range .Params.custommenu }}
          {{ if .group }}
            <div class="menu-group">
              <div class="menu-group-title">{{ .group }}</div>
              <ul class="menu-items">
                {{ range .items }}
                  <li>
                    {{ if .pageRef }}
                      {{ $isActive := eq $.RelPermalink .pageRef }}
                      <a href="{{ .pageRef }}" class="{{ if $isActive }}active{{ end }}">
                        {{ .name }}
                      </a>
                    {{ else }}
                      <span class="no-link">{{ .name }}</span>
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </nav>
  
</div>
