<div class="d-lg-none mb-4">
  <div class="container">

    <!-- Categories Section -->
    {{- $section := "projects" -}}
    {{- $categoryCounts := dict -}}
    {{- range .Site.Pages -}}
      {{- if eq .Section $section -}}
        {{- range .Params.categories -}}
          {{- $count := index $categoryCounts . | default 0 -}}
          {{- $categoryCounts = merge $categoryCounts (dict . (add $count 1)) -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}

    <details id="list-page" class="sidebar-mobile">
        <summary class="fw-bold">
        {{ "Project Categories" }}
        </summary>
        <div style="margin-bottom: 1rem;"></div>
        <ul class="tags-ul list-unstyled list-inline">
          {{- range $cat, $count := $categoryCounts -}}
          <li class="list-inline-item">
            <a href="{{ printf "/%s/categories/%s/" $section ($cat | urlize) | lower }}" class="float-end btn btn-outline-info btn-sm">
              {{ $cat }} ({{ $count }})
            </a>
          </li>
          {{- end -}}
        </ul>
    </details>

  </div>
</div>

<!-- Desktop Sidebar: Categories and Tags with post counts - Hidden on mobile -->
<div class="col-sm-12 col-md-12 col-lg-4 d-none d-lg-block">
  <div id="list-page" class="sticky-sidebar">
    <div id="list-page" class="container pt-5">
      <!-- Categories Section -->
      <h3 class="text-left pb-3">
        Project Categories
      </h3>

      <div>
        {{- $section := "projects" -}}
        {{- $categoryCounts := dict -}}

        {{- range .Site.Pages -}}
          {{- if eq .Section $section -}}
            {{- range .Params.categories -}}
              {{- $count := index $categoryCounts . | default 0 -}}
              {{- $categoryCounts = merge $categoryCounts (dict . (add $count 1)) -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}

        {{- range $cat, $count := $categoryCounts -}}
          <div class="blog-item">
              <a href="{{ printf "/%s/categories/%s/" $section ($cat | urlize) | lower }}">
                {{ $cat }} ({{ $count }})
              </a>
          </div>
        {{- end -}}
      </div>
    </div>
  </div>
</div>


