{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
<link rel="stylesheet" href="/css/index.css" media="all">
<link rel="stylesheet" href="/css/list.css" media="all">

{{ end }}

{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-6">
        {{- partial "home/about.html" . -}}
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        {{- partial "home/blog.html" . -}}
        {{- partial "home/projects.html" . -}}
        {{- partial "home/notes.html" . -}}
      </div>
  </div>
{{ end }}