{{ define "head" }}
<meta name="description" content="{{ .Params.description }}">
<link rel="stylesheet" href="/css/single.css">
{{ end }}

{{ define "title" }}
{{ .Title }} &mdash; {{ humanize .Section }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{ $section := .Section }}
<section id="single">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-7">

        <!-- Breadcrumbs -->
      {{ partial "breadcrumbs.html" . }}

      <!-- Content -->
        <div class="pr-lg-4">
          <div class="title mb-3">
            
            <h1 class="text-left">{{ .Title }}</h1>
            <small class="text-left">
                Date: {{ .Date.Format "January 2, 2006" }}
                {{ if or (.Site.Params.singlePages.readTime.enable | default true) (.Params.enableReadingTime) }}
                | Estimated Reading Time: {{ .ReadingTime }} mins
                {{ end }}
                {{ if .Params.author }}
                | Author: {{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Params.author.name }}{{ end }}
                {{ end }}
                <br>
                <span>Categories: </span>{{ if .Params.categories }}
                  {{ range $index, $category := .Params.categories }}
                    {{ if $index }}| {{ end }}
                    <a href="{{ printf "/%s/categories/" $section | relLangURL }}{{ $category | urlize }}" style="text-decoration: none; color: var(--text-primary-color);">{{ $category}}</a>
                  {{ end }}
                {{ end }}
              </small>
          </div>          
            
          <!-- On This Page (Mobile) -->
          {{ if .Params.toc | default true }}
            {{ partial "page/sidebar/on-this-page-mobile.html" . }}
          {{ end }}

          <!-- Content -->
          <article class="page-content">
          {{ .Content | emojify }}
          </article>

          <!-- Tags -->
          <div style="border-bottom: 1px solid var(--border-color); margin-bottom: .7rem;"></div>
           {{ if .Params.tags }}
            <aside class="tags">
                <b><span>Tags: </span></b>
                  {{ range $index, $category := .Params.tags }}
                    {{ if $index }}| {{ end }}
                    <a href="{{ printf "/%s/tags/" $section | relLangURL }}{{ $category | urlize }}" style="text-decoration: none; color: var(--text-primary-color);">{{ $category}}</a>
                  {{ end }}
            </aside>
            {{end}}
        </div>
      </div>

    <!-- On This Page (Desktop) -->
    <div class="col-sm-12 col-md-12 col-lg-2-5"> 
      {{ partial "page/sidebar/on-this-page.html" . }}
    </div>      

    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-9 p-4">
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  <button class="p-2 px-3" onclick="topFunction()" id="topScroll">
    <i class="fas fa-angle-up"></i>
  </button>
</section>

{{ if or (.Site.Params.singlePages.scrollprogress.enable | default true) (.Params.enableScrollProgress) }}
<div class="progress">
  <div id="scroll-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<Script src="/js/scrollProgressBar.js"></script>
{{ end }}

<script>
  var topScroll = document.getElementById("topScroll");
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      topScroll.style.display = "block";
    } else {
      topScroll.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }

  // To set height of sticky sidebar dynamically
  let stickySideBarElem = document.getElementById("stickySideBar");
  let stickyNavBar = {{ .Site.Params.navbar.stickyNavBar.enable | default false }};
  if(stickyNavBar) {
    let headerElem = document.getElementById("profileHeader");
    let headerHeight = headerElem.offsetHeight + 15;
    stickySideBarElem.style.top = headerHeight + "px";
  } else {
    stickySideBarElem.style.top = "50px";
  }
</script>

{{ if or (.Site.Params.singlePages.readTime.enable | default true) (.Params.enableReadingTime) }}
<script src="/js/readingTime.js"></script>
{{end}}

{{ end }}