<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{- partial "head.html" . -}}
  {{- block "head" . }} {{- end }}

  <!-- Custom Styles -->
  {{ if .Site.Params.customCSS }}
    <link rel="stylesheet" href="/style.css">
  {{ end }}

  <title>
    {{- block "title" . }} {{- end }}
  </title>
</head>

<body class="light">
  {{- partial "sections/header.html" . -}}
  
  <div id="content">
    {{- block "main" . }}{{- end }}
    
    {{- partial "sections/footer.html" . -}}
    {{- partial "scripts.html" . -}}
  </div>

</body>

</html>
