<div id="list-page" class="container pt-5">
    <h2 class="text-left pb-4">Recent Projects</h2>

    {{ $recentPosts := first 5 (sort (where .Site.RegularPages "Section" "projects") "Date" "desc") }}

    {{ range $recentPosts }}
    <div class="blog-item">
        <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
        <p class="text-muted mb-2">{{ .Params.summary | truncate 200 }}</p>
        <small>{{ .Date.Format "January 2, 2006" }} | Estimated Reading Time: {{ .ReadingTime }} min | Author: {{ .Site.Params.author.name }}</small>
    </div>
    {{ end }}

    <div class="text-center mt-4">
        <a href="/projects" class="btn btn-outline-secondary">View More Projects...</a>
    </div>
</div>
