{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="/css/list.css" media="all">
<link rel="stylesheet" href="/css/single.css" media="all">
{{ end }}

{{ define "title" }}
{{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<div class="container">
  <div class="row justify-content-center"> 

    {{- partial "blog/section-sidebar.html" . -}}
    
    <!-- Right Sidebar: Paginated Posts -->
    <div class="col-sm-12 col-md-12 col-lg-8"> 
      <div class="container pt-5" id="list-page">
        {{ if eq .Data.Plural "categories" }}
          <h3 class="text-left pb-3">Blog Category - {{ .Title }}</h3>
        {{ else if eq .Data.Plural "tags" }}
          <h3 class="text-left pb-3">Blog Tag - {{ .Title }}</h3>
        {{ else }}
          <h3 class="text-left pb-3">Blog Posts</h3>
        {{ end }}

        {{ range .Paginator.Pages }}
        <div class="blog-item">
            <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
            <p class="text-muted mb-2">{{ .Params.summary | truncate 200 }}</p>
            <small class="text-muted">
                {{ .Date.Format "January 2, 2006" }} |
                Estimated Reading Time: {{ .ReadingTime }} min |
                Author: {{ with .Params.author }}{{ . }}{{ else }}{{ .Site.Params.author.name }}{{ end }}
            </small>
        </div>
        {{ end }}


        <div class="row justify-content-center">
            <div class="col-auto m-3">
                {{ template "_internal/pagination.html" . }}
            </div>
        </div>
      </div>
    </div>

  </div>
</div>

{{ end }}