.breadcrumbs {
    font-size: var(--font-size-sm);
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-6);
    padding-bottom: var(--spacing-2);
    border-bottom: 1px solid var(--border-color) !important;
    color: var(--text-primary-color);
}

.breadcrumbs a {
    text-decoration: none;
    color: var(--text-link-primary-color);
}

.breadcrumbs a:hover {
    color: var(--text-link-secondary-color);
}