{{ $paginator := .Paginator }}
{{ if gt $paginator.TotalPages 1 }}
<div class="pagination-wrapper">
  <nav class="custom-pagination" aria-label="Pagination">
    {{ if $paginator.HasPrev }}
      <a href="{{ $paginator.Prev.URL }}" class="page-link page-link-prev">
        &#8592; Previous
      </a>
    {{ else }}
      <span class="page-link page-link-prev" style="opacity: 0.5; cursor: not-allowed;">
        &#8592; Previous
      </span>
    {{ end }}
    
    <div class="page-numbers">
      {{ range $paginator.Pagers }}
        <a href="{{ .URL }}" class="page-link {{ if eq . $paginator }}active{{ end }}">
          {{ .PageNumber }}
        </a>
      {{ end }}
    </div>
    
    {{ if $paginator.HasNext }}
      <a href="{{ $paginator.Next.URL }}" class="page-link page-link-next">
        Next &#8594;
      </a>
    {{ else }}
      <span class="page-link page-link-next" style="opacity: 0.5; cursor: not-allowed;">
        Next &#8594;
      </span>
    {{ end }}
  </nav>
</div>
{{ end }}